

<style type="text/css">
	.caja{
		background: #a2a2a2;
		width: 35%;
		margin: auto;
		text-align: center;
		margin-top: 11%;
		padding-bottom: 10px;
		border-radius: 20px;
	}
	.labels{
		font-size: 18px;
		font-family: arial;
	}
	.input{
		width: 200px;
		height: 30px;
		font-size: 14px;
		text-align: center;
	}.botton{
		width: 80px;
		height: 30px;
		font-size: 16px;
	}
</style>
<div class="caja">
	<form>
		<br>
		<label class="labels">Cargue de datos crudos</label>
		<input type="file" name="datoscrudos" id="datoscrudos" class="">
		<br><br>
		<label class="labels">rango mayor o igual que</label>
		<input type="text" name="" id="" class="input" placeholder=">=">
		<br><br>
		<label class="labels">rango menor o igual que</label>
		<input type="text" name="" id="" class="input" placeholder="<=">
		<br>
		<br>
		<button class="botton">Enviar</button>
	</form>
</div>